@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	background: #e2d7aa;
	color: #000;
	font-size: 16px;
	max-width: 1180px;
	margin: 0 auto;
}

img {
	width: 1100px;
	height: 450px;
}

.img-container {
	width: 1600px;
	height: 450px;
	margin-top: 65px;
}

h1 {
	font: 60px 'Indie Flower', cursive;
	text-align: center;
	margin-top: 65px;
}

nav li {
	display: inline-block;
	margin: 30px;
}

nav li a {
	font-size: 28px;
	color: #000;
	text-decoration: none;
}

nav li a:hover {
	color: #0a2d4a;
	font-weight: bold;
}

main {
	margin: 1em 0 2em 0;
}

article {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

article:nth-of-type(2) {
	margin: 0 1em;
}

article h2, article h3 {
	text-align: center;
}

article > p:first-of-type {
	text-align: justify;
	height: 340px;
}

article img {
	width: 350px;
	height: 200px;
	margin-bottom: 20px;
}

p::first-letter {
	font-size: 40px;
	font-family: EucrosiaUPC, serif;
}

span a {
	background: url(images/bg2.jpg);
	color: #FFF;
	padding: 10px;
	margin-top: 10px;
}

footer {
	margin: 0
	padding: 10px 0 10px 0;
	text-align: center;
}

article p:last-of-type span:first-of-type a::before {
	content: url(images/comment.png);
	position: relative;
	right: 5px;
	top: 7px;
	padding: 10px;
}
